{{- if .IsHome -}}
<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"WebSite",
  "name":"{{ .Site.Title }}",
  "url":"{{ .Site.BaseURL }}",
  "description":"{{ .Site.Params.description }}",
  "publisher":{"@type":"Organization","name":"MenshlyGlobal","logo":{"@type":"ImageObject","url":"{{ .Site.BaseURL }}favicon.ico"}},
  "potentialAction":{"@type":"SearchAction","target":"{{ .Site.BaseURL }}search/?q={search_term_string}","query-input":"required name=search_term_string"}
}
</script>
{{- else -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify }},
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  {{- with .Lastmod }}
  "dateModified": "{{ .Format "2006-01-02T15:04:05Z07:00" }}",
  {{- end }}
  "author": {
    "@type": "Person",
    "name": {{ with .Params.author }}{{ . | jsonify }}{{ else }}"{{ .Site.Params.author }}"{{ end }}
  },
  "publisher": {
    "@type": "Organization",
    "name": "MenshlyGlobal",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}favicon.ico"
    }
  },
  {{- with .Params.image }}
  "image": "{{ . }}",
  {{- end }}
  "description": {{ with .Description }}{{ . | jsonify }}{{ else }}{{ .Summary | plainify | jsonify }}{{ end }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
  {{- with .Params.categories }},
  "articleSection": {{ index . 0 | jsonify }}
  {{- end }}
  {{- with .Params.tags }},
  "keywords": {{ . | jsonify }}
  {{- end }}
}
</script>
{{- end -}}
